* {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

#top {
  background-color: transparent;
  border-bottom: 1px solid #e2e2e2;
  min-height: 34px;
  font-size: 12px;
  background-color: #ffffff;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 1000;
}

.table-cart-flower .img-cart-flower {
  height: 60px;
  width: 60px;
  padding: 4px;
}

body {
  padding-top: 90px;
}

.percent-off-rounded {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 48px;
  height: 48px;
  background: #f50101;
  color: #ffff;
  font-size: 11px;
  font-weight: 600;
  border-radius: 50%;
  padding-top: 6px;
  line-height: 18px;
  text-align: center;
}

#content .image {
  transition: transform 0.3s ease;
}

#content .image:hover {
  transform: scale(1.02);
}

.item-product {
  max-width: 271px;
}


.price-new {
  color: #f50101;
}

.price-old {
  color: #696969;
  text-decoration: line-through;
}

#footer a {
  text-decoration: none;
}